<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}{{ page.title }} - {% endif %}{{ config.title }}
    </title>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="The Code of Music"
    />
    <meta name="author" content="Luisa Pereira" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ stylesheets }} {% if page.extrajs %}
    <script src="{{page.extrajs}}" type="text/javascript"></script>
    {% endif %} 
  </head>
  <body>
    <div id="bookDetails">
        <h2> The Code of Music</h2>
    </div>
    <nav class="menu">
      <div class="wrapper">
        {{toc}}
      </div>
    </nav>
    <main class="chap">
    
      <article>
        <div>{{ content }}</div>
        <!-- {% include navigation.html %} -->
      </article>
    </main>
    <script src="{{ webpack.main }}" type="text/javascript"></script>
  </body>
</html>
