<div class="border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        {%- assign sortedPages = site.pages | sort:"i" -%}
        {%- for page in sortedPages -%}  
          {%- if page.header -%}
          <h5 class="list-group-item list-group-item-action bg-faded">{{ page.header }}</h5>
          {%- endif -%}
          {%- if page.i -%}
            <a class="list-group-item list-group-item-action bg-faded" href="{{ page.url | relative_url }}">
              {{ page.title | escape }}
            </a>
            {%- endif -%}
        {%- endfor -%}
      </div>
</div>  
