$orange: #f56324;
$header-height: 180px;
$bp-medium: 800px;
$black: #222;
$white: #fff;
$page-max-width: 980px;

$theme-red: #ff3100;
$theme-blue: #176beb;

$highlight-color: $black;
$link-underline-color: $black;

$menu-width: 320px;
$menu-padding: 1.5em;
$menu-transition-speed: 0.2s;

$font--display: 'Darker Grotesque', 'Helvetica', sans-serif;
$font--body: 'Cousine', sans-serif;
