@import 'shared';

$menu-width: 320px;
$menu-padding: 2em;
$menu-transition-speed: 0.2s;
$highlight-color: #004ec2;
$header-height: 180px;
$bp-medium: 800px;
$black: #222;
$white: #fff;

$link-underline-color: rgba(lighten($highlight-color, 5), 0.3);

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
}

pre[data-type='programlisting'] {
  border-radius: 2px;
  padding: 1em;
  background: #f1f1f1;
}

section {
  img {
    display: block;
    max-width: 100%;
  }
  figure em {
    font-size: 0.8em;
  }
}

@mixin inline-link {
  text-decoration: none;
  color: $highlight-color;
  box-shadow: 0 -0.2em 0 0 $link-underline-color inset;
  transition: all 0.2s;
  &:hover {
    color: darken($highlight-color, 10);
    box-shadow: 0 -1.2em 0 0 $link-underline-color inset;
  }
}

@mixin icon--visible {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

@mixin icon--hidden {
  transform: scale3d(0, 0, 1);
  opacity: 0;
}

@mixin font--display {
  font-family: 'Fredoka One';
}

@mixin font--content {
  font-family: 'Atkinson';
}

.site-header {
  text-align: center;
  padding: 1em;
  // height: $header-height;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.home-link {
  text-decoration: none;
  color: $black;
}
.site-title {
  display: flex;
  align-items: center;
  font-size: 4em;
  @include font--display();
  text-transform: uppercase;
  margin: 0;
  .small {
    margin: 0 0.3em;
    font-size: 0.4em;
  }
}

@media (max-width: $bp-medium) {
  .site-header {
    .site-title {
      display: inline-block;
      width: 3em;
      text-align: center;
      line-height: 0.8;
      font-size: 3em;
      margin-bottom: 1em;
      .small {
        position: relative;
        top: -0.5em;
      }
    }
  }
}

.menu__header {
  .site-title {
    margin-top: 1em;
    font-size: 2em;
  }
  .divider {
    width: 5em;
    margin: 0.5em auto;
  }
}

.page-container {
  transition: all $menu-transition-speed;
  padding-left: $menu-width;
  height: 100%;

  @media (max-width: $bp-medium) {
    padding-left: 0px;
  }
}

.p5-figure {
  page-break-before: avoid;

  position: relative;
  margin: 2em 0;
}

.p5container {
  // border: 2px solid $black;
  // border-radius: 2px;
  // padding: 50px;
}

.menu-button {
  cursor: pointer;
  position: fixed;
  height: 8em;
  width: 8em;
  top: 0;
  left: 0;
  z-index: 5;
  background: none;
  border: none;
  transform: scale3d(1, 1, 1);
  padding: 1em;
}
.menu-button svg {
  transition: all 0.2s;
  width: 5em;
  position: absolute;
  top: $menu-padding;
  left: $menu-padding;
}

.menu-button__icon--close {
  @include icon--visible();
  opacity: 0.4;
  // transform: scale3d(0.6, 0.6, 1);
}

.menu-button__icon--open {
  @include icon--hidden();
}

.container {
  margin: 0 auto;
  width: 100%;
}

.next-prev-links {
  margin-top: 5em;
  display: flex;
  justify-content: space-between;

  a {
    @include inline-link();
  }
}

p a,
figure a {
  @include inline-link();
}

section[data-type='chapter'] {
  h1 {
    page-break-before: always;

    color: $highlight-color;
    margin-bottom: 0.5em;
    margin-top: 0;
    font-size: 4em;
    padding-bottom: 0.2em;
    // border-bottom: 3px dashed $highlight-color;
  }
}

section[data-type='sect1'] {
  padding: 0;
  margin-top: 5em;
  h1 {
    page-break-before: auto;
    font-size: 2.5em;
    border: none;
  }
}

.divider {
  height: 1em;
}

.divider:after {
  @include font--display();
  content: '************';
  text-align: center;
  overflow: hidden;
  display: block;
  letter-spacing: 0.3em;
  font-size: 1.5em;
  word-wrap: nowrap;
  width: 100%;
  height: 1em;
  text-align: center;
}

.chap {
  display: block;
  padding: 40px;
  word-wrap: break-word;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  p {
    font-size: 1.2em;
    line-height: 1.4;
  }
}

.menu {
  z-index: 2;
  // background: $black;
  color: $black;
  background: $white;
  border-right: 2px solid $black;
  transition: all $menu-transition-speed;
  width: $menu-width;
  position: fixed;
  height: 100vh;
  overflow: scroll;
  top: 0;
  left: 0;
  padding: $menu-padding;
  padding-top: $header-height / 2;
  display: block;
  @media (max-width: $bp-medium) {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  }
  h2 {
    margin-top: 0.3em;
    font-size: 1.5em;
    margin-bottom: 0.8em;
  }

  h3 {
    font-size: 2em;
    margin-bottom: 0.8em;
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 0.6em;
    }
    ul,
    ol {
      margin-left: 0;
      // margin-left: 1em;

      ol {
        font-size: 0.9em;
        margin-left: 1em;
        li {
          margin: 0;
        }
      }
    }
  }
  .toc a {
    color: inherit;
    text-decoration: none;
    padding: 0;
    position: relative;
    margin: 0;
    color: $black;
    transition: all 0.2s;

    &:after {
      content: '';
      width: 0.6em;
      height: 0.3em;
      border-radius: 0.2em;
      background: $highlight-color;
      position: absolute;
      left: 0;
      top: 0.5em;
      transition: all 0.2s;
      opacity: 0;
      transform: scaleX(0);
    }
    &:hover {
      color: $highlight-color;
    }
    &.is-active {
      color: $highlight-color;
      font-weight: bold;
      padding-left: 0.8em;
      &:after {
        opacity: 1;
        transform: scaleX(1);
      }
    }
    &[data-toc='sect1'] {
      font-size: 1.2em;
      display: block;
      padding-bottom: 0.3em;
    }
    &[data-toc='sect2'] {
      opacity: 0.8;
    }
    &[data-toc='chapter'] {
      padding-left: 0em;

      &:after {
        opacity: 0 !important;
      }
      &:hover {
        color: rgba($highlight-color, 0.5);
      }
      @include font--display();
      margin-top: 1em;
      display: block;
      color: white;
      -webkit-text-stroke: 1px $highlight-color;
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 0.3em;

      &.is-active {
        color: $highlight-color;
        &:after {
          display: none;
        }
        -webkit-text-stroke: 0px;
      }
    }
  }
}

.menu--pdf {
  page-break-after: always;
  page-break-before: always;
  background: none;
  box-shadow: none;
  position: static;
  border: none;
  color: $black;

  ol {
    list-style: decimal;
    margin-left: 2em;

    ::marker {
      @include font--display();
      font-size: 2em;
    }
    ol {
      margin-left: 3em;
      list-style: lower-roman;
      ::marker {
        @include font--content();
        font-size: 1em;
      }
      ol {
        list-style: none;
      }
    }
  }
  .toc a {
    color: $black !important;
  }
}

.menu-is-closed {
  .menu-button__icon--close {
    @include icon--hidden();
  }
  .menu-button__icon--open {
    @include icon--visible();
  }
  .menu {
    transform: translate3d(-100%, 0, 0);
    box-shadow: none;
  }
  .page-container {
    padding-left: 0px;
  }
}
