@import 'shared';

* {
  box-sizing: border-box;
}
.page-container {
  // display: flex;
  padding-left: 250px;
  height: 100%;
}
.container {
  margin: 0 auto;
  width: 100%;
}

section[data-type='chapter'] {
  h1 {
    margin-bottom: 0.5em;
    margin-top: 0;
    font-size: 4em;
    padding-bottom: 0.2em;
    border-bottom: 3px dashed #ddd;
  }
}

section[data-type='sect1'] {
  margin: 3em 0;
  h1 {
    font-size: 2em;
    border: none;
  }
}

.chap {
  display: block;
  padding: 40px;
  word-wrap: break-word;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  p {
    font-size: 1.2em;
    line-height: 1.4;
  }
}

.site-header {
  text-align: center;
  padding: 1em;
  background: #e6e6ff;
  position: relative;
  z-index: 1;
  h2 {
    margin: 0;
  }
}

body,
html {
  margin: 0;
  height: 100%;
}

a[data-toc='chapter'] {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  display: block;
}

.menu {
  width: 250px;
  position: fixed;
  height: 100vh;
  overflow: scroll;
  top: 0;
  left: 0;
  padding: 1em;
  // padding-top: 5em;
  border-right: 1px solid #e6e6ff;
  display: block;
  h2 {
    margin-top: 0.3em;
    font-size: 1.5em;
    margin-bottom: 0.8em;
  }

  h3 {
    margin-bottom: 0.8em;
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 0.6em;
    }
    ul,
    ol {
      margin-left: 1em;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
