@import 'shared';

$menu-width: 320px;
$menu-padding: 2em;
$menu-transition-speed: 0.2s;
$highlight-color: #004ec2;
$header-height: 180px;
$bp-medium: 800px;
$black: #222;

$link-underline-color: rgba(lighten($highlight-color, 5), 0.3);

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
}

pre[data-type='programlisting'] {
  border-radius: 2px;
  padding: 1em;
  background: #f1f1f1;
}

section {
  img {
    display: block;
    max-width: 100%;
  }
  figure em {
    font-size: 0.8em;
  }
}

@mixin inline-link {
  text-decoration: none;
  color: $highlight-color;
  box-shadow: 0 -0.2em 0 0 $link-underline-color inset;
  transition: all 0.2s;
  &:hover {
    color: darken($highlight-color, 10);
    box-shadow: 0 -1.2em 0 0 $link-underline-color inset;
  }
}

@mixin icon--visible {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

@mixin icon--hidden {
  transform: scale3d(0, 0, 1);
  opacity: 0;
}

@mixin font--display {
  font-family: 'Fredoka One';
}

.site-header {
  text-align: center;
  padding: 1em;
  // height: $header-height;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.home-link {
  text-decoration: none;
  color: $black;
}
.site-title {
  display: flex;
  align-items: center;
  font-size: 4em;
  @include font--display();
  text-transform: uppercase;
  margin: 0;
  .small {
    margin: 0 0.3em;
    font-size: 0.4em;
  }
}

@media (max-width: $bp-medium) {
  .site-header {
    .site-title {
      display: inline-block;
      width: 3em;
      text-align: center;
      line-height: 0.8;
      font-size: 3em;
      margin-bottom: 1em;
      .small {
        position: relative;
        top: -0.5em;
      }
    }
  }
}

.menu__header {
  .site-title {
    margin-top: 3em;
    font-size: 1.83em;
  }
  .divider {
    width: 5em;
    margin: 0.5em auto;
  }
}

.page-container {
  transition: all $menu-transition-speed;
  padding-left: $menu-width;
  height: 100%;

  @media (max-width: $bp-medium) {
    padding-left: 0px;
  }
}

.p5-figure {
  page-break-before: avoid;

  position: relative;
  margin: 2em 0;
}

.p5container {
  // border: 2px solid $black;
  // border-radius: 2px;
  // padding: 50px;
}

.menu-button {
  cursor: pointer;
  position: fixed;
  height: $header-height / 2;
  width: $menu-width / 2;
  top: 0;
  left: 0;
  z-index: 5;
  background: none;
  border: none;
  transform: scale3d(1, 1, 1);
  padding: 1em;
}
.menu-button svg {
  transition: all 0.2s;
  width: 5em;
  position: absolute;
  top: $menu-padding;
  left: $menu-padding;
}

.menu-button__icon--close {
  @include icon--visible();
}

.menu-button__icon--open {
  @include icon--hidden();
}

.container {
  margin: 0 auto;
  width: 100%;
}

.next-prev-links {
  margin-top: 5em;
  display: flex;
  justify-content: space-between;

  a {
    @include inline-link();
  }
}

p a,
figure a {
  @include inline-link();
}

section[data-type='chapter'] {
  h1 {
    page-break-before: always;

    color: $highlight-color;
    margin-bottom: 0.5em;
    margin-top: 0;
    font-size: 4em;
    padding-bottom: 0.2em;
    // border-bottom: 3px dashed $highlight-color;
  }
}

section[data-type='sect1'] {
  padding: 0;
  margin-top: 5em;
  h1 {
    page-break-before: auto;
    font-size: 2.5em;
    border: none;
  }
}

.divider {
  height: 1em;
}

.divider:after {
  @include font--display();
  content: '************';
  text-align: center;
  overflow: hidden;
  display: block;
  letter-spacing: 0.3em;
  font-size: 1.5em;
  word-wrap: nowrap;
  width: 100%;
  height: 1em;
  text-align: center;
}

.chap {
  display: block;
  padding: 40px;
  word-wrap: break-word;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  p {
    font-size: 1.2em;
    line-height: 1.4;
  }
}

a[data-toc='chapter'] {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  display: block;
}

.menu {
  z-index: 2;
  // background: $black;
  color: $black;
  background: rgb(238, 238, 238);
  transition: all $menu-transition-speed;
  width: $menu-width;
  position: fixed;
  height: 100vh;
  overflow: scroll;
  top: 0;
  left: 0;
  padding: $menu-padding;
  padding-top: $header-height / 2;
  // border-right: 2px solid $black;
  display: block;
  @media (max-width: $bp-medium) {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  }
  h2 {
    margin-top: 0.3em;
    font-size: 1.5em;
    margin-bottom: 0.8em;
  }

  h3 {
    font-size: 2em;
    margin-bottom: 0.8em;
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 0.6em;
    }
    ul,
    ol {
      margin-left: 0;
      ol {
        margin-left: 2em;
      }
    }
  }
  .toc a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.2em;
    position: relative;
    margin-left: 0.5em;
    color: $black;
    &[data-toc='chapter'] {
      color: white;
      @include font--display();
      -webkit-text-stroke: 1px $highlight-color;
      &.is-active {
        -webkit-text-stroke: 0px;
      }
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 0.3em;

      // text-transform: uppercase;
    }
    &.is-active {
      color: $highlight-color;
      font-weight: bold;
      &:after {
        @include font--display();
        display: flex;
        justify-content: center;
        align-items: center;
        content: '';
        width: 0.8em;
        height: 0.3em;
        border-radius: 0.2em;
        background: $highlight-color;
        position: absolute;
        left: 0;
        top: 0.5em;
        transform: translateX(-120%);
      }
    }
  }
}

.menu--pdf {
  page-break-after: always;
  page-break-before: always;
  background: none;
  box-shadow: none;
  position: static;
  color: $black;

  .toc a {
    color: $black !important;
  }
}

.menu-is-closed {
  .menu-button__icon--close {
    @include icon--hidden();
  }
  .menu-button__icon--open {
    @include icon--visible();
  }
  .menu {
    transform: translate3d(-100%, 0, 0);
    box-shadow: none;
  }
  .page-container {
    padding-left: 0px;
  }
}
