<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}{{ page.title }} - {% endif %}{{ config.title }}
    </title>
    <meta charset="utf-8" />
    <meta name="description" content="The Code of Music" />
    <meta name="author" content="Luisa Pereira" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ stylesheets }} {% if page.extrajs %}
    <script src="{{page.extrajs}}" type="text/javascript"></script>
    {% endif %}
  </head>
  <body>
    <button class="menu-button">Menu</button>
    <nav class="menu">
      <div class="wrapper">{{toc}}</div>
    </nav>
    <div class="page-container">
      <div>
        <header class="site-header">
          <div>
            <h2>
              <span class="small">The</span> Code
              <span class="small">of</span> Music
            </h2>
          </div>
        </header>
        <main class="chap">
          <article>
            <div>{{ content }}</div>
            <div class="next-prev-links">{% include navigation.html %}</div>
          </article>
        </main>
      </div>
    </div>
    <script src="{{ webpack.main }}" type="text/javascript"></script>

    {{ javascripts }}
  </body>
</html>
