<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}{{ page.title }} - {% endif %}{{ config.title }}
    </title>
    <meta charset="utf-8" />
    <meta name="description" content="The Code of Music" />
    <meta name="author" content="Luisa Pereira" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ stylesheets }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.77/Tone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.js"></script> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/rough.js/2.1.1/rough.js"
      integrity="sha512-sZtT5AmC0DFqxtF/WG8fUVvsum8ZkIoHa08hQO5css2CRXZrvMt9DwMZ4hFNQZiJtwZnmc413p/msPhYMyjlPA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script src="/assets/P5SketchManager.js" type="text/javascript"></script>
    {% if page.extrajs %}
    <script src="{{page.extrajs}}" type="text/javascript"></script>
    {% endif %}
  </head>
  <body>
    {% include nav.html %}

    <div class="page-container">
      <div>
        {% include header.html %}

        <main class="chap">
          <article>
            <div>{{ content }}</div>
            <div class="next-prev-links">{% include navigation.html %}</div>
          </article>
        </main>
      </div>
    </div>

    <div style="position: absolute; font-weight: bold; opacity: 0">T</div>

    <script src="{{ webpack.main }}" type="text/javascript"></script>
    {{ javascripts }}
  </body>
</html>
