<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}{{ page.title }} - {% endif %}{{ config.title }}
    </title>
    <meta charset="utf-8" />
    <meta name="description" content="The Code of Music" />
    <meta name="author" content="Luisa Pereira" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ stylesheets }}

    <script src="/assets/examples/assets/libs/Tone-14.7.77.min.js"></script>
    <script src="/assets/examples/assets/libs/p5-1.4.0.min.js"></script>
    <script src="/assets/examples/assets/libs/rough-2.1.1.min.js"></script>
    <script src="/assets/examples/assets/libs/ToneMidi-2.0.27.min.js"></script>

    <script src="/assets/utils.js" type="text/javascript"></script>
    <script src="https://unpkg.com/three@0.126.0/build/three.js"></script>
    {% if page.extrajs %}
    <script src="{{page.extrajs}}" type="text/javascript"></script>
    {% endif %}
  </head>
  <body>
    {% include nav.html %}

    <div class="page-container">
      <div id="global-volume-control">
        <div id="global-meter"></div>
        <input name="volume" type="range" min="-60" max="0" value="0" />
      </div>
      <div>
        {% include header.html %}

        <main class="chap">
          <article>
            <div>{{ content }}</div>
            <div class="next-prev-links">{% include navigation.html %}</div>
          </article>
        </main>
      </div>
    </div>

    <div style="position: absolute; font-weight: bold; opacity: 0">T</div>

    <script src="{{ webpack.main }}" type="text/javascript"></script>
    {{ javascripts }}
  </body>
</html>
